#login-form-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 499;
}

#form-background {
  padding: 15px;
  border-radius: 5px;
  background-color: #5454c5;
}

#login-form {
  width: fit-content;
  padding: 20px;
  background-color: cornflowerblue;
}

.form-title {
  display: flex;
  justify-content: space-between;
}

.form-title h1 {
  margin: 5px;
}

.exit-btn {
  cursor: pointer;
  color: red;
}

.exit-btn:hover {
  color: blueviolet;
}

.input-holder {
  display: flex;
  justify-content: space-between;
  height: 30px;
}

.form-buttons-holder {
  display: flex;
  justify-content: flex-end;
  height: 30px;
}

.submit-btn {
  width: 30%;
  height: 100%;
  margin: 10px;
  color: white;
  background-color: transparent;
  cursor: pointer;
}

.switch-btn {
  width: 30%;
  height: 100%;
  margin: 10px;
  border: none;
  color: white;
  background-color: transparent;
  cursor: pointer;
}
